ds
web_driver

ml/saved_models/


*.pyc
*.pyo
*.pyd
__pycache__/
*.ipynb_checkpoints

/app/fe/node_modules
node_modules/

.DS_Store


.idea/
.vscode/

venv
env
.env

*.log
*.tmp
*.zip
*.tar.gz

*.h5
*.pkl
*.joblib
*.json
